<!DOCTYPE html>
<html>
<head>
    <title>All your entries</title>
</head>

<style type="text/css">
    body {margin: 50px;padding: 0;font: 12px Arial}
    #container {margin: 0 auto; width: 680px}

    #seller {margin: 25px; width: 620px;clear: both;}

    #invoice, #invoice-total {float: right; width: 300px; margin-bottom: 30px}
    #invoice dt, #invoice-total dt {float: left; width: 100px; margin-bottom: 4px}
    #invoice dd, #invoice-total dd {float: right; width: 184px; margin: 0 0 4px; text-align: right}
    .invoice-total {float: left;font-weight: bold;margin: 0;padding: 5px 8px;border-top: 1px solid #f1f1f1;background:#e3e3e3}

    #buyer {float: left; width: 300px}

    #invoice-total {clear: both;}

    #terms, #notes {float: left;width: 100%;margin: 10px 0}

    table {width: 100%}
    table thead tr {padding: 10px 5px;border: 1px solid #c7c7c7;font-weight: bold;}
    table thead th {border-top: 1px solid #f1f1f1;background:#e3e3e3}
    
    table tbody tr {padding: 10px 5px;border-bottom:1px solid #e5e5e5;}
</style>

<body>

<div id="container">
    <div id="seller">
        {{- invoice.seller.name }}
    </div>

    <div id="invoice">
        <dl>
            <dd>{{ invoice.number|default('0000001') }}</dd>
            <dt>Facture #</dt>

            <dd>{{ invoice.createdAt|date('F j, Y') }}</dd>
            <dt>Facture Date</dt>
        </dl>

        <dl class="invoice-total">
            <dd>{{ invoice.total.amount }}</dd>
            <dt>Amount Due</dt>
        </dl>
    </div>

    {%- if invoice.buyer is not empty %}
    <div id="buyer">
        {{- invoice.buyer.name }}
    </div>
    {%- endif %}

    <table>
        <thead>
            <tr>
                <th class="col1">Entry</th>
                <th class="col2">Description</th>
                <th class="col3">Price</th>
                <th class="col4">Quantity</th>
                <th class="col5">Line Total</th>
            </tr>
        </thead>

        <tbody>
            {%- for entry in invoice.entries %}
            <tr>
                <td>#{{ loop.index }}</td>
                <td>{{ entry.description }}</td>
                <td>{{ entry.price }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.totalPrice }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

    <div id="invoice-total">
        <dl>
            <dt>Subtotal</dt>
            <dd>{{ invoice.total.netto }}</dd>

        {%- for tax in invoice.total.taxes %}
            <dt>{{ tax.name }}</dt>
            <dd>{{ tax.value }}</dd>
        {%- else %}
            <dt>TVA 0%</dt>
            <dd>0</dd>
        {%- endfor %}
        </dl>

        <dl>
            <dt>Total</dt>
            <dd>{{ invoice.total.brutto }}</dd>

            <dt>Amount Paid</dt>
            <dd>-{{ invoice.paid|default('0.00') }}</dd>
        </dl>

        <dl class="invoice-total">
            <dt>Amount Due</dt>
            <dd>{{ invoice.total.amount }}</dd>
        </dl>
    </div>

    <div id="terms">
        <strong>Terms:</strong>
        <p>{{ invoice.terms|default('-') }}</p>
    </div>

    <div id="notes">
        <strong>Notes:</strong>
        <p>{{ invoice.notes|default('-') }}</p>
    </div>
</div>
</body>
</html>