{% extends 'base.html.twig' %}

{% block content %}
    <div id="seller">
    {%- if invoice.seller.logo is not empty %}
        <img src="{{ invoice.seller.logo }}" alt="">
    {%- endif %}
        <p>{{- invoice.seller.name }}</p>
        {%- for item in invoice.seller.address %}
            <p>{{- item }}</p>
        {%- endfor %}
    </div>

    <div id="invoice">
        <dl>
            <dd>{{ invoice.number }}</dd>
            <dt>Facture #</dt>

            <dd>{{ invoice.createdAt|date('F j, Y') }}</dd>
            <dt>Facture Date</dt>
        </dl>

        <dl class="invoice-total">
            <dd>&euro; {{ invoice.total.amount }} EUR</dd>
            <dt>Amount Due</dt>
        </dl>
    </div>

    {%- if invoice.buyer is not empty %}
    <div id="buyer">
        <p>{{- invoice.buyer.name }}</p>
        {%- for item in invoice.buyer.address %}
        <p>{{- item }}</p>
        {%- endfor %}
    </div>
    {%- endif %}

    {% include '_entry_list.html.twig' %}

    <hr>

    <div id="invoice-total">
        <dl>
            <dt><strong>Subtotal</strong></dt>
            <dd><strong>{{ invoice.total.netto }}</strong></dd>

        {%- for tax, value in invoice.total.taxes %}
            <dt>{{ tax|default('TVA 0%') }}</dt>
            <dd>{{ value|default(0) }}</dd>
        {%- else %}
            <dt>TVA 0%</dt>
            <dd>0</dd>
        {%- endfor %}
        </dl>

        <dl>
            <dt><strong>Total</strong></dt>
            <dd><strong>{{ invoice.total.brutto }}</strong></dd>

        {%- if invoice.coupon is not empty %}
            <dt>Coupon used</dt>
            <dd>{{ invoice.coupon.name }} (-{{ invoice.coupon.value }})</dd>
        {%- endif %}

            <dt>Amount Paid</dt>
            <dd>-{{ invoice.paid|default('0.00') }}</dd>
        </dl>

        <dl class="invoice-total">
            <dt>Amount Due</dt>
            <dd>&euro; {{ invoice.total.amount }} EUR</dd>
        </dl>
    </div>

    <div id="terms">
        <strong>Terms:</strong>
        <p>{{ invoice.terms|default('-') }}</p>
    </div>

    <div id="notes">
        <strong>Notes:</strong>
        <p>{{ invoice.notes|default('-') }}</p>
    </div>
{% endblock %}
